@import "tailwindcss";

@theme {
    --color-purple-100: #e0e7ff;
    --color-purple-500: #554ad4;
    --color-purple-600: #5046e4;
    
    --color-gray-400: #f8fafc;
    --color-gray-600: #424b4e;

}